#portfolioModal{
  padding: 0;
  padding-right: 0 !important;
  .modal-dialog{
    //width: 100%;
    //@include breakpoint($break_560){
    //  width: 100%;
    //}
    @include breakpoint($break_768){
      width: 768px;
    }
    @include breakpoint($break_992){
      width: 992px;
    }
    @include breakpoint($break_1000){
      width: 1000px;
    }
  }
  .modal-content {
    border-radius: 0;
    border: none;
  }
  .modal-header {

  }
  .modal-body{
    padding: 0;
  }
  .modal-footer {

  }
  .close-portfolio-modal {
    position: absolute;
    z-index: 1000;
    top:0;
    right: 0;
  }

  .carousel-control.right {
    height: 80px;
    top: calc(50% - 40px);
    opacity: 1;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-repeat: repeat-x;
    &:hover {
      opacity: 1;
    }
  }
  .carousel-control.left {
    height: 80px;
    top: calc(50% - 40px);
    opacity: 1;
    //background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.5) 100%);
    //background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.0001) 100%);
    background-repeat: repeat-x;
    &:hover {
      opacity: 1;
    }
  }
  .close {
    height: 42px;
    width: 42px;
    position: absolute;
    top:0;
    right: 0;
    background-image: url('../../img/svg/close.svg');
    background-repeat: no-repeat;
    background-color: $c_tertiary;
    opacity: 0.8;
    z-index: 200;
    transition: opacity $transition_speed ease-in;
    &:hover {
      opacity: 1;
    }

  }
}