body {
  margin-top: 80px;
}

hr {
  //border-top: 1px solid $c_tertiary;
}

// Small animation for an underline | apply class to links
.animate-link {
  position: relative;
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: none;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom:0;
    left:0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.left-arrow {
  @include arrow_left;
}

.right-arrow {
  @include arrow_right;
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  min-height: 320px;
  min-width: 320px;
  &:before {
    @include show_psuedo;
    position: absolute;
    background-image: url('../../img/ajax/ajax-loader.gif');
    background-color: rgba(255,255,255,0.7);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: 110;
  }
}