body {
  margin-top: 51px;
}

hr {
  //border-top: 1px solid $c_tertiary;
}

a {
  color: $c_primary;
  &:hover {
    color: lighten($c_primary, 15%)
  }
}

// Small animation for an underline | apply class to links
.animate-link {
  @include animate_link;
}

.toggle-arrows-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;

  &:before {
    @include show_psuedo;
    display: inline-block;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: 2px solid $c_tertiary;
    border-right: 2px solid $c_tertiary;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
  }
  &:after {
    @include show_psuedo;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid $c_tertiary;
    border-left: 2px solid $c_tertiary;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    text-decoration: none;
    &:before {
      @include show_psuedo;
      display: inline-block;
      position: absolute;
      right: 8px;
      width: 20px;
      height: 20px;
      border-top: 2px solid $c_tertiary;
      border-right: 2px solid $c_tertiary;
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out 0s;
    }
    &:after {
      @include show_psuedo;
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid $c_tertiary;
      border-left: 2px solid $c_tertiary;
      transition: all 0.3s ease-in-out 0s;
    }
    span {
      @include animate_link;
      &:before {
        bottom:-3px;
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }

  span {
    position: relative;
    color: $c_primary;
    text-decoration: none;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom:-3px;
      left:0;
      background-color: lighten($c_primary, 15%);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }


}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.left-arrow {
  @include arrow_left;
}

.right-arrow {
  @include arrow_right;
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  min-height: 320px;
  min-width: 320px;
  &:before {
    @include show_psuedo;
    position: absolute;
    background-image: url('../../img/ajax/ajax-loader.gif');
    background-color: rgba(255,255,255,0.7);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: 110;
  }
}

.section-icon {
  width: 80px;
  margin: 40px auto 60px auto;
  img {
    width: 100%;
  }
}

section {
  border-top: 1px solid $c_secondary;
  padding: 20px 0;
  margin: 0 0 40px 0;
}