// Colors
$c_primary: #c91B3D;
$c_secondary:#D7601D;
$c_tertiary:#9D157F;

$c_black:#444444;

// Breaks
$break-320: 320px;
$break-560: 560px;
$break-768: 768px;
$break-1200:  1200px;

// Font-families
$font_GustanExtraBlack: GustanExtraBlack;
$font_GustanLight: GustanLight;
$font_GustanMedium: GustanMedium;
$font_GustanMediumD: GustanMediumD;
$font_GustanBold: GustanBold;


// controls background box
$box_height:60px;
$box_width:60px;
$box_displacement: $box_height / 2;