# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
/cms/
/framework/
/reports/
/siteconfig/
.editorconfig
favicon.ico
/install-frameworkmissing.html
install.php
web.config
atlassian-ide-plugin.xml
.htaccess
index.php
/themes/simple/
.idea/dictionaries/admin.xml
.idea/workspace.xml
/themes/cv/node_modules/