.navbar-default {
  .navbar-header {

  }

  .navbar-brand {
    color: $c_primary;
    font-family: $font_GustanMedium;
  }

  .navbar-toggle {
    background-color: transparent;
    border: none;
    .icon-bar {
      background-color: $c_primary;
    }
    &:hover, &:active, &:focus {
      background-color: transparent;
      .icon-bar {
        background-color: $c_tertiary;
      }
    }
  }
  // Navbar collapse
  .navbar-collapse {
    .navbar-nav {
      li {
        a {
          color: $c_tertiary;
          font-family: $font_GustanLight;
        }
      }
    }
  }
}

