.statement {

  .person-svg {
    max-height: 300px;
    fill:#3c3c3c;
    @include breakpoint($break_992){
      margin-top: 115px;
    }
  }

  .intro-details {
    .cv-name {
      color: $c_secondary;
      font-family: $font_GustanExtraBlack;
      text-align: center;
      @include breakpoint($break_992){
        text-align: left;
      }
    }
    .fa-phone {
      color: $c_primary;

      font-size: 18px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
      display: block;
      @include breakpoint($break_992){
        margin: 0 20px 0 0;
        display: inline-block;
      }
      a {
        font-family: $font_GustanMedium;
        color: $c_primary;
      }
      &:before {
        margin: 0 10px 0 0;
      }
    }
    .fa-envelope-o {
      font-size: 18px;
      color: $c_primary;
      text-align: center;
      margin: 0 auto;
      display: block;
      @include breakpoint($break_992){
        margin: 0 20px 0 0;
        display: inline-block;
      }
      a {
        font-family: $font_GustanMedium;
        color: $c_primary;
      }
      &:before {
        margin: 0 10px 0 0;
      }
    }
    .intro-content {
      font-family: $font_GustanLight;
      font-size: 16px;
    }
  }

  .arrow-container {
    text-align: center;
    #arrowScroll {
      width: 40px;
      height: 40px;
      transform: rotate(45deg);
      border-bottom: 1px solid $c_tertiary;
      border-right: 1px solid $c_tertiary;
      margin: 0 auto;
      &:hover {
        cursor: pointer;
      }
    }
  }

}